* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blueviolet;
    padding: 16px;
    color: white
    
}

header, header h1, section h2{
    font-family: "Bungee", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}


header nav li {
    display: inline;
    margin-right: 10px;
}

header nav li a{
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

nav {
    margin-top: 10px;
}

.container-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container a:hover {
    color: orange;
}

.search {
    margin-left: auto;
}

#about h1 {
    font-size: 35px;
    margin: 0 auto;
    margin-top: 20px;
}

.container-about {
    display: flex; 
    margin: 30px 0;
}

.container-about #text-about p {  
    margin-bottom: 15px;      
    width: 100%;
    padding-right: 15px;
}

.container-about img {
    margin-right: 0;
    width: 50%;
}

.brands-list img {
    height: 100px;
}

.brands-list li {
    display: inline;
    height: 100px;
    padding: 0 10px;
}

.container form {
    margin: 0;
    display: flex;
}

.container form input {
    padding: 5px; 
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;  
    border: 1px solid #ccc; 
    border-right: none;
}

.container form button {
    margin-left: 0;
    padding: 5px;
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px;  
    border: 1px solid #ccc;
}

.container form button:hover{
    padding: 5px;   
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
    background-color: #c2c2c2;
    color: white;   
    border: 1px solid #ccc;   
}


